# IDE
.vscode/
.vs/
.idea/

# Build artifacts
bin/
obj/
TestResults/
*.cache/
*.user
*.rsuser

# Logs
logs/
*.log

# EF Core migrations snapshots (если хочешь оставить только init)
# [Mм]igrations/

# Publish profiles и локальные настройки
**/Properties/PublishProfiles/
**/*.csproj.user

# Local configs / secrets
**/appsettings.Development.json
**/appsettings.Local.json
**/*.secrets.json
.env
